@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 174 83% 64%;
    --primary-foreground: 210 40% 98%;
    --secondary: 263 70% 73%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 174 83% 64%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 228 14% 7%;
    --foreground: 210 40% 98%;
    --card: 228 14% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 228 14% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 174 83% 64%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 263 70% 73%;
    --secondary-foreground: 210 40% 98%;
    --muted: 228 14% 14%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 228 14% 14%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 228 14% 18%;
    --input: 228 14% 18%;
    --ring: 174 83% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
